# 1 Bases

# 1.1 Simple  ́echange

In [8]:
a = "22"

In [9]:
b = "11"

In [10]:
a, b = b, a

In [11]:
"a = "+str(a)+", b = "+str(b)

'a = 11, b = 22'

# 1.2 Le carre

In [ ]:
a = int(input())

In [ ]:
r = a * a

In [ ]:
r

# 1.3 La condition

In [65]:
a = int(input())

-2

In [66]:
if a > 0 :
    r = "Nombre positif"
else :
    r = "Nombre négatif"

In [67]:
r

'Nombre négatif'

# 1.4 Le produit

In [70]:
a = int(input())

44

In [154]:
b = int(input())

33

In [155]:
produit = a * b

In [156]:
if produit < 0:
    r = "Négatif"
else :
    r = "Positif"

In [157]:
r

'Positif'

# 1.5  Calcul

In [163]:
a = int(input())

17

In [164]:
a = a+1

In [165]:
for i in range(a,a+10):
  print(i)

18
19
20
21
22
23
24
25
26
27

# 1.6 Additivté

In [158]:
a = int(input())

5

In [159]:
i = 0

In [160]:
r = 0

In [161]:
while i < a:
    i = i + 1
    r = r +i

In [162]:
r

15

# 2 Les tableaux

# 2.1 La somme

In [4]:
t = [1, 10, 2, 3]

In [5]:
r = sum(t)

In [6]:
r

16

# 2.2 La somme retour

In [11]:
t1 = [1, 10, 2, 3]

In [12]:
t2 = [11, 2, 4, 13]

In [13]:
t3 = []

In [14]:
for i in range(len(t1)):
    r = t1[i] + t2[i]
    t3.insert(i, r)

In [15]:
t3

[12, 12, 6, 16]

# 2.3 FacProduct

In [3]:
t1 = [1, 2, 3]
t2 = [5, 6, 7]
somme = 0
for i in range(len(t1)):
    somme += t1[i] * t2[i]
somme

38

# 2.4 Le plus grand

In [4]:
items = [1, 2, 5, 3, 8, 4, 1]
for i in range(len(items)):
    if i == 0:
        res = items[i]
    else:
        if(items[i] > res):
            res = items[i]
            item = i
(res, item)

(8, 4)